*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
    transition: 0.3s;
}
h1, h2, h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    background-color: rgba(0, 0, 0, 0.932);
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 70px;
}
.logo:hover{
    transform: scale(1.15);
}
nav{
    margin-right: 5%;
}
header a{
    color: white;
}
span{
    color: orange;
}
nav a{
    margin: 15px;
    color: rgb(255, 255, 255);
}
nav a:hover{
    color: orange;
    border-bottom: 3px solid orange;
    
}
#hero{
    height: 100vh;
    display: flex;
    background-image: url(./img/bg.jpg);
    background-position: center;
    background-size: cover;
}
.text{
    color: antiquewhite;
    margin-left: 90px;
    margin-top:  450px;
}
#hero img{
    width: 780px;
    height: 450px;
    margin-top: 100px;
    border: 10px solid orange;
    box-shadow: 20px 20px 30px black;
}
#hero img:hover{
    border: 5px solid orange;
}
.btn1{
    background-color: black;
    border: 2px solid orange;
}
.btn1:hover{
    background-color: orange;
    color: black;
    transform: scale(1.1);
}
#about, #projects{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 1, 0);
    color: whitesmoke;
}
#about, #projects{
    height: 70vh;
}
#about h1, #projects h1, #contact h1{
    color: orange;
}
#about p{
    width: 700px;
    line-height: 40px;
    text-align: justify;
}
.cards{
    display: flex;
}
.card{
    margin: 20px;
    padding: 5px;
    border-bottom: 5px solid orange;
}
.card img{
    width: 380px;
    border: 2px solid white;
}
.card img:hover{
    border: 2px solid orange;
    transform: scale(1.1);

}
#contact{
    display: flex;
    background-color: black;
    width: 100%;
    height: 80vh;
    color: white;
}
.msg, .socials{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
input{
    height: 35px;
    width: 338px;
}
button{
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 20px;
}
.btn2{
    background-color: black;
    border: 2px solid orange;
}
.btn2:hover{
    background-color: orange;
    color: black;
    transform: scale(1.1);
}
.imgs img{
    width: 70px;
    margin: 10px;
}
.imgs img:hover{
    transform: scale(1.2);
}
footer{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.918);
    color: white;
    height: 40px;
}

